---
import Tags from './Tags.astro';
const PROJECTS = [
  {
    
    title: 'Sistema de monitoreo de germinacion de semillas',
    description: 'Este proyecto tiene como objetivo el monitoreo de la germinacion de semillas y deshidratacion de alimentos.',
    activities: [ "Desarrollo de un sistema basado en Laravel para el monitoreo en tiempo real.",
    "Integración de sensores para capturar datos como humedad, temperatura , luz y peso.",
    "Configuración de un servidor para almacenar y visualizar datos en línea.",
],
    img: '/projects/IPN.webp',
    link: 'https://ipnproyecto.samayoaprojects.com.mx/',
    tags: ['Laravel', 'Esp32', 'Chart.js','Bootstrap','IoT'],
  },
  {
    title: 'RacconBank',
    description: 'Interfaz de una aplicacion bancaria desarrollada en Android Studio y Firebase.',
    activities: [ "Desarrollo de una interfaz de usuario para una aplicacion bancaria.",
    "Integración de Firebase para el manejo de usuarios y transacciones.",
    "Desarrollo de un sistema de autenticación y seguridad.",
],
    img: '/projects/RacoonMock.webp',
    link: 'https://github.com/Sama7u7/racoonbank',
    tags: ['Android Studio', 'Firebase', 'UI/UX', 'Java'],
  },

];
---

{PROJECTS.map(({ title, description, activities, img, link, tags }, projectIndex) => (
  <div class="mb-8 p-6 rounded-lg shadow-lg bg-gray-800/50 text-white">
    <h3 class="text-3xl font-semibold mb-4 text-yellow-300">{title}</h3>

    {/* Mostrar los tags como etiquetas individuales */}
    <div class="flex flex-wrap gap-2 mb-4">
      {tags.map((tag, tagIndex) => (
        <span
          class="bg-yellow-500 text-black text-sm font-semibold px-3 py-1 rounded-full"
        >
          {tag}
        </span>
      ))}
    </div>

    <p class="text-lg text-opacity-80 mb-4">{description}</p>

    {/* Mostrar actividades como una lista de elementos */}
    <ul class="text-lg text-opacity-80 list-disc list-inside mb-4 text-pretty">
      {activities.map((activity, activityIndex) => (
        <li>{activity}</li>
      ))}
    </ul>

    <img src={img} alt={title} class="rounded-lg shadow-lg mb-4" />
    <a
      href={link}
       class="bg-yellow-500 text-black text-sm font-semibold px-3 py-1 rounded-full"
    >
      Ver proyecto
    </a>
  </div>
))}
